@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Created By @ViewData["Student"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/WashLJ/SalesMVC">Washington Junior GitHub Page</a>
</address>